.header__container {
  display: flex;
  height: 40px;
}

.header__logo {
  width: 90px;
  height: 40px;
  margin-right: 24px;
}

.header__date {
  flex: 1;
  margin: 0;
  align-self: center;
}

.header__user-info {
  margin: 0 0 0 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #000;
  align-self: center;
}

.header__avatar {
  margin-left: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.button {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  border: none;
  text-align: left;
  visibility: visible;
}

.mobile-nav {
  visibility: hidden;
  position: absolute;
  width: 44px;
  height: 40px;
}

.mobile-nav_active {
  visibility: visible;
}

.mobile-button {
  visibility: hidden;
}

@media screen and (max-width: 760px) {
  .mobile-nav {
    visibility: visible;
    top: 30px;
    right: 40px;
    background-image: url(../../assets/hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .mobile-nav_active {
    width: 150px;
    height: 150px;
    background-image: none;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .button {
    visibility: hidden;
    position: absolute;
  }
  .mobile-button {
    visibility: hidden;
    background-color: white;
  }
  .mobile-button_active {
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    border: none;
    text-align: left;
    visibility: visible;
  }

  .header__container {
    display: block;
  }

  .header__date {
    margin: 32px 0 0;
  }

  .header__user-info {
    visibility: hidden;
  }

  .header__avatar {
    position: absolute;
    top: 30px;
    right: 40px;
  }
}
