.header__container {
  display: flex;
  height: 40px;
}

.header__logo {
  width: 90px;
  height: 40px;
  margin-right: 24px;
}

.header__date {
  flex: 1;
  margin: 0;
  align-self: center;
}

.header__user-info {
  margin: 0 0 0 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #000;
  align-self: center;
}

.header__avatar {
  margin-left: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.button {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  border: none;
  text-align: left;
}
